.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
       background: rgb(152 193 255);
}
h4{
	padding-top:7px;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
#myVideo {
    
    z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.leftout{
	float:right;
	    margin: auto 21px;
}
.header a {
    text-decoration: none;
    padding: 14px 23px;
    font-size: 19px;
    text-align: center;
    display: block;
    float: left;
    color: white;
}
.header a:hover{
     background: #5294e2;
}

/* .container {
    position: relative;
    left: 10px;
top: 107px;
/* border: 3px solid red; */
/* width: 50%;
height: 198px */
  /* } */ 
.tableshow{	
    position: fixed;
    top: 19%;
    left: 19%;
  
}
.collection{
    position: relative;
    top: 260px;
}
.table>:not(caption)>*>*{
	padding: 1.5rem 1.5rem;
}
.addmoviemanual{
	   text-align: center;
    position: relative;
    font-size: 40px;
    /* border: 2px solid red; */
 /*    top: 19px; */
    width: 100%;
    background-color: whea
}