*{
	box-sizing: border-box;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgb(152 193 255);
}
h4{
	padding-top:7px;
}
.header{
/*     position: fixed; */
    top: 0;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.leftout{
	float:right;
	    margin: auto 21px;
}

.header a {
    text-decoration: none;
    padding: 14px 23px;
    font-size: 19px;;
    text-align: center;
    display: block;
    float: left;
    color: white;
}
#myVideo {
    
    z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.header a:hover{
     background: #5294e2;
}
.managemoviemanual{
    text-align: center;
    position: relative;
    font-size: 40px;
    /* border: 2px solid red; */
   /*  top: 50px; */
    width: 100%;
    background-color: wheat;
}
 h1,b {
    font-size: calc(0.375rem + 1.5vw);
} 

.cards {
   
    display: inline-block;
    width: 19%;
    /* border: 2px solid red; */
    margin-left: 108px;
    margin: 65px;
    background-color: rgb(192, 201, 255);
    background-color: rgb(192 201 255 / 87%);
    border-radius: 9px;
    padding:5px
}
.title_card{
    text-align: center;
}
    